<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Identifier-URL" content="{{site_url}}" id="site-url">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  {{#each scripts}}
  <script src="/scripts/{{this}}" type="module"></script>
  {{/each}}
  {{!-- <script src=""></script> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="./scripts/vibrant.min.js"></script>
  <title>Pic</title>
  <input type="hidden" id="site-url" value="{{url}}">
</head>

<body>
  {{>nav}}
  {{{body}}}
  <input type="hidden" id="site-url" value="{{url}}">

</body>

</html>